<h4>Users Table</h4>
<table>
  <thead>
    <tr>
      <th>User_ID</th>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
		<td><%= link_to "#{user.username.capitalize}", main_app.home_path(user.username) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
